.box {
    position: absolute;
    width: 100%;
    background-color: black;
    height: 400px;
    transition: width 0.5s, background-color 0.5s;
  }
  
  .box1 {
    width: 100%;
    background-color: black;
  }
  
  .box2 {
    top: -2000px;
    width: 50%;
    background-color: red;
  }