<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/admin/css.css">
  <title>Portal de Administrador</title>
</head>
<body>
    <body>
        <header>
          <h1>Portal de Administrador</h1>
        </header>
        <nav>
          <ul>
            <li id="inicio"><a href="#">Inicio</a></li>
            <li><a href="#">Usuarios</a></li>
            <li><a href="#">Configuración</a></li>
          </ul>
        </nav>
        <main>
          <section>
            <h2>Bienvenido al Portal de Administrador</h2>
            <p>Este es un lugar donde puedes gestionar usuarios y ajustes.</p>
          </section>
        </main>
        <footer>
          <p>Derechos de autor &copy; 2023 Portal de Administrador</p>
        </footer>
</body>
<script src="/admin/js.js"></script>
</html>